.code-slider::-webkit-scrollbar {
	height: 0.5rem;
	/* width: 0.5rem; */
	overflow-y: auto;
}
.code-slider::-webkit-scrollbar-track {
	background: #75747465;
	border-radius: 10px;
}

.code-slider::-webkit-scrollbar-thumb {
	background: #f1efef; /* Scrollbar color */
	border-radius: 10px; /* Rounded edges */
}

.code-slider::-webkit-scrollbar-thumb:hover {
	background: #d7d7d7; /* Darker on hover */
}
